html body {
  font: 300 14px "Lato", sans-serif;
  color: #666756;
  background: #fff;
  padding-bottom: 70px;
  background-image: rgb(211,211,211);
 }

/*I  have no idea why I put that here*/
/* body { padding-top: 100px; }*/

 div {
    display: block;
}

/*.n {
 	line-height: 18px;
 	 padding-top: 9px;
     padding-bottom: 9px;
}*/

#extended-nav {
    padding: 0 30px;
    background: #283e4a;
    border-top: none;
    box-shadow: none;
    height: 52px;
}

/*The color of navbar links*/
a {
	color: #c7d1d8;
}

/*The color of navar burger*/
.navbar-toggle .icon-bar {
    background-color: #c7d1d8;
}

.title-row {
	padding-top: 75px;
	border: none;
	border-bottom: 1px solid #c7d1d8;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bg-1 {
	background: #fff;
}

.name {
	margin: 0;
	font-size: 4.286em;
}

.text-thin {
    color: #283e4a;
	font-weight: 100;
}

.description {
	color: #283e4a;
	margin: 5px;
	font-size: 1.429em;
	text-align: right;
	font-weight: 400;
	opacity: 0.8;
	padding-bottom: 10px;
	}

.nav-wrapper {
    float: right;
    color: #283e4a;		
}


.featured-projects {
	color: #283e4a;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 15px;
	padding-left: 10px;
	font-weight: 350;
	text-align: left;
	font-size: 1.8em;
}

.projects-row {
   padding-top: 30px;
   padding-bottom: 10px;

}

.row {
   padding-bottom: 25px;

}

.project {
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.050);
	border-radius: 25px;
	height:  180px;
	width: 370px;
}

.project:hover {
    transform: scale(1.03);  /*(150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    opacity: 0.7;
    }

.project-img {
	float:left;
	width: 40%;

    max-height: 160px;
    padding-top: 20px;
}


.project-description {

	position: absolute;
    top: 12%;
    left: 45%;
    bottom: 15%;
/*    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;*/

	overflow: hidden;
    text-align: center;
/*	position: relative;*/
    min-height: 1px;
    padding-top: 20px;
    padding-right: 20px;
    margin-bottom: : 30px;
	font-size: 1.250em;
	color: #304e5f;
/*	color: #666756;*/
	font-weight: 450;
/*	color: rgb(102, 153, 255);*/
/*	padding-top: 30px;*/
/*	margin-left: 15px;
	margin-right: 15px;*/

}

.social-icons {
	float: right;
	transform: scale(0.55);
}

@media only screen and (max-width: 1200px) {


	.project {
		transform: scale(0.85);
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.projects-row {
        margin-bottom: 0px;
        margin-top: 0px;

}
}

@media only screen and (max-width: 996px) and (min-width: 768px) {

	.name {
		transform: scale(0.9);
	}

	.project {	
		transform: scale(0.65);
	}

	.projects-row {
        margin-bottom: 0px;
        margin-right: 30px;
        text-align: center;
     }

	.row {
	    margin-right: 60px;
	    margin-left: -80px;
	    padding-bottom: 0px;
		}

	.logo {
		transform: scale(0.9);
	}


}

@media only screen and (max-width: 768px) {

	.name {
		font-size: 2.785em;
		text-align: center;
	}

	.description {
		font-size: 0.857em;
		text-align: right;
		padding-bottom: 10px;
		text-align: center;
		}


	.social-icons {
		transform: scale(0.5);
		float: left;
	}


	.project {
		transform: scale(1.03);
		text-align: center;
		padding-top: 10px;
		margin-bottom: 30px;
	}

	.projects-row {
        margin-bottom: 20px;

}
	
/*	.project-img {
		    padding-top: 0px;
			transform: scale(0.8);
	}

	.project-description {
			transform: scale(0.9);
			    left: 55%;*/
	}

	.logo {
		transform: scale(0.7);
		float: left;
	}

	.nav-text {
		display: inline-block
	}

}