body {
    font-family: "Montserrat", sans-serif !important;
    padding-bottom: 70px;
}

p {
    margin-bottom: 0;
}

.nav-wrapper {
    float: right;
}

.name {
    font-size: 28px;
    font-weight: 700;
}

.second-header {
    font-size: 20px;
    text-transform: uppercase;
    color: #ef7f1a;
    font-weight: 700;
    float: right;
}

.navbar {
    background: white;
}

.photo-banner {
    text-align: center;
    background: url('../images/contact1.jpg') fixed 60% 0;
    height: 300px;
    overflow: hidden;
}

.header-top,
.header-bottom {
    font-size: 40px;
    color: white;
    text-shadow: -1px 1px 2px #31323A;
    font-weight: 700;
}

.header-top {
    padding-top: 85px;
}

.section-content {
    border: 1px solid #DDD;
    background-color: #EEE;
    padding: 40px 0;
    text-align: center;
}

.color-orange {
    color: #ef7f1a;
}

.about-me {
    text-align: center;
    font-size: 24px;
    color: #434343;
    line-height: 40px;
    margin: 30px 10px;
}

.portfolio-item {
    padding-bottom: 30px;
}

.section-title {
    padding-bottom: 30px;
}

.portfolio-title {
    font-size: 22px;
    padding: 10px 0 5px 0;
    margin: 0;
}

.image-border {
    border: 5px solid white;
    border-radius: 0 15px;
}

a {
    color: #ef7f1a;
}

.my-photo {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

.contact-info {
    text-align: center;
    padding-top: 80px;
    font-size: 24px;
    color: #434343;
    line-height: 40px;
}

.contact-title {
    font-size: 30px;
    color: #212529;
}

.footer-text {
    font-size: 22px;
    padding: 15px 0;
    background: #434343;
    color: white;
}

.list-wraper {
    background: #ef7f1a;
    padding: 30px 0;
    text-align: center;
}

.social-media-list {
    margin: 0 15px 0 0 !important;
    padding: 0;
}

.social-media-list li {
    display: inline;
}

.social-title {
    font-size: 30px;
}

.social-media-list li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #EEE;
    border: 1px solid #ef7f1a;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.social-media-list li a:hover {
    background-color: #535353;
    cursor: pointer;
}

.social-media-list li a:hover > i {
    color: #FFF;
}

.social-media-list li a i {
    font-size: 18px;
    color: #ef7f1a;
    line-height: 48px;
    transition: all 0.2s ease-in-out;
}

.social-title {
    color: white;
}

@media only screen and (max-width: 991px) {
    .contact-info {
        padding-top: 15px;
        font-size: 22px;
    }

    .about-me {
        font-size: 22px;
    }

    .social-title,
    .contact-title,
    .section-title {
        font-size: 28px;
    }
}

@media only screen and (max-width: 767px) {
    .contact-info {
        padding-bottom: 15px;
    }

    .header-top,
    .header-bottom {
        font-size: 36px;
    }

    .header-top {
        padding-top: 100px;
    }

    .contact-info,
    .about-me {
        font-size: 20px;
    }

    .social-title,
    .contact-title,
    .section-title {
        font-size: 24px;
    }
}